* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

@font-face {
  font-family: poppins;
  src: url("../fonts/Poppins-Regular.ttf");
}
body {
  background: url("../images/chat_background.jpg") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: poppins;
  color: white;
}
body .image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
body .image img {
  width: 100%;
  height: auto;
}
body .media-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body .media-image img {
  width: 100%;
  min-height: 100%;
}
body .chat-container {
  width: 85%;
  height: 90vh;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 8px;
  position: relative;
  display: flex;
  overflow: hidden;
}
body .chat-container .contact-header {
  width: 100%;
  height: 65px;
  color: white;
  display: flex;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
body .chat-container .contact-header .header-button {
  width: 35px;
  height: 30px;
  cursor: pointer;
  position: relative;
}
body .chat-container .contact-header .header-button .btn {
  width: 80%;
  height: 18%;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}
body .chat-container .contact-header .header-button .open-button,
body .chat-container .contact-header .header-button .close-button {
  position: absolute;
  width: 100%;
  height: 100%;
}
body .chat-container .contact-header .header-button .open-button {
  display: block;
}
body .chat-container .contact-header .header-button .open-button .btn:not(:first-child) {
  margin-top: 15%;
}
body .chat-container .contact-header .header-button .open-button #first-btn,
body .chat-container .contact-header .header-button .open-button #third-btn {
  margin-left: 20%;
}
body .chat-container .contact-header .header-button .open-button #third-btn {
  height: 17%;
}
body .chat-container .contact-header .header-button .close-button {
  display: none;
}
body .chat-container .contact-header .header-button .close-button .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .chat-container .contact-header .header-button .close-button #first-btn {
  transform: translate(-50%, -50%) rotateZ(-45deg);
}
body .chat-container .contact-header .header-button .close-button #second-btn {
  transform: translate(-50%, -50%) rotateZ(45deg);
}
body .chat-container .contact-header .header-button:hover .btn {
  background: rgba(0, 0, 0, 0.8);
  transition: 1s ease all;
}
body .chat-container .contact-details {
  padding: 10px 20px;
}
body .chat-container .contact-header-info {
  height: 60px;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
}
body .chat-container .contact-header-info .icon {
  margin-right: 10px;
  font-size: 1.3rem;
}
body .chat-container .contact-header-info .text {
  text-transform: uppercase;
}
body .chat-container .contact-chats {
  width: 100%;
  height: calc(100% - 125px);
}
body .chat-container .contact-chats .empty-chat {
  padding: 20px;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body .chat-container .contact-chats .empty-chat .empty-chat-icon {
  width: 60px;
  height: 50px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 30px;
  background: rgb(0, 0, 0);
}
body .chat-container .contact-chats .empty-chat .empty-chat-icon::before {
  position: absolute;
  content: "";
  top: 76%;
  left: -21%;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 15px solid transparent;
  border-top: 15px solid rgb(0, 0, 0);
  transform: rotateZ(45deg);
}
body .chat-container .contact-chats .empty-chat .empty-chat-icon::after {
  position: absolute;
  content: "";
  width: 160%;
  height: 2px;
  background: white;
  top: -19%;
  left: 70%;
  transform: translate(-50%, -50%) rotateZ(43deg) scaleX(0);
  -webkit-animation: animate 2s ease infinite;
          animation: animate 2s ease infinite;
  transform-origin: left;
}
@-webkit-keyframes animate {
  0% {
    transform: translate(-50%, -100%) rotateZ(43deg) scaleX(0);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(43deg) scaleX(1);
  }
}
@keyframes animate {
  0% {
    transform: translate(-50%, -100%) rotateZ(43deg) scaleX(0);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(43deg) scaleX(1);
  }
}
body .chat-container .contact-chats .empty-chat p {
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}
body .chat-container .contact-chats .contacts-content {
  width: 100%;
}
body .chat-container .contact-chats .contacts-content .contacts {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  padding: 10px 5px 10px 20px;
  color: rgba(0, 0, 0, 0.7);
  position: relative;
  cursor: pointer;
}
body .chat-container .contact-chats .contacts-content .contacts .contact-image {
  width: 35px;
  min-width: 35px;
  height: 35px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: white;
  position: relative;
}
body .chat-container .contact-chats .contacts-content .contacts .contact-image .status {
  width: 7px;
  height: 7px;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  right: 0px;
  bottom: 3px;
  display: block;
  border-radius: 50%;
}
body .chat-container .contact-chats .contacts-content .contacts .contact-image #online {
  background: green;
}
body .chat-container .contact-chats .contacts-content .contacts .contact-image #offline {
  background: grey;
}
body .chat-container .contact-chats .contacts-content .contacts .contact-image #away {
  background: orange;
}
body .chat-container .contact-chats .contacts-content .contacts .contact-details .details-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .chat-container .contact-chats .contacts-content .contacts .contact-details .details-header .time {
  font-style: italic;
  font-size: 0.8rem;
}
body .chat-container .contact-chats .contacts-content .contacts .contact-details h3 {
  font-size: 1.2rem;
  font-weight: bold;
}
body .chat-container .contact-chats .contacts-content .contacts .contact-details p {
  font-size: 0.8rem;
}
body .chat-container .contact-chats .contacts-content .contacts .counter {
  width: 15px;
  height: 15px;
  background: green;
  position: absolute;
  right: 20px;
  bottom: 10px;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}
body .chat-container .contact-chats .contacts-content .active-chat {
  background: rgba(0, 0, 0, 0.15);
}
body .chat-container .contact-names,
body .chat-container .contact-profile {
  width: 25%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5);
  scrollbar-track-color: rgba(0, 0, 0, 0.5);
}
body .chat-container .chats {
  width: 50%;
  height: 100%;
  position: relative;
}
body .chat-container .chats .contact-header {
  width: 92%;
  margin-inline: auto;
}
body .chat-container .chats .contact-header .chat-header-details {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
}
body .chat-container .chats .contact-header .chat-header-details .chat-header-image {
  position: relative;
  width: 65px;
  height: 48px;
  margin-right: 5px;
}
body .chat-container .chats .contact-header .chat-header-details .chat-header-image .image {
  width: 40px;
  height: 40px;
  background: white;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
body .chat-container .chats .contact-header .chat-header-details .chat-header-image #sender-image {
  left: 0px;
  top: 0px;
}
body .chat-container .chats .contact-header .chat-header-details .chat-header-image #receiver-image {
  bottom: 0px;
  right: 0px;
}
body .chat-container .chats .contact-header .chat-header-details .chat-header-name h3 {
  font-weight: bold;
}
body .chat-container .chats .contact-header .chat-header-details .chat-header-name p {
  font-size: 0.85rem;
  margin: 0px;
  display: flex;
  align-items: center;
}
body .chat-container .chats .contact-header .chat-header-details .chat-header-name p span {
  display: block;
}
body .chat-container .chats .contact-header .chat-header-details .chat-header-name p .status {
  margin-right: 3px;
  width: 6px;
  height: 6px;
  background: grey;
  border-radius: 50%;
}
body .chat-container .chats .contact-header .chat-header-details .chat-header-name p #online {
  background: green;
}
body .chat-container .chats .contact-header .chat-header-details .chat-header-name p #away {
  background: orange;
}
body .chat-container .chats .contact-header .chat-header-icon ul {
  display: flex;
  list-style: none;
}
body .chat-container .chats .contact-header .chat-header-icon ul li button {
  font-size: 1.5rem;
  border: none;
  background: transparent;
  color: black;
  cursor: pointer;
}
body .chat-container .chats .contact-header .chat-header-icon ul li:not(:first-child) {
  margin-left: 15px;
}
body .chat-container .chats .chat-content {
  width: 100%;
  height: calc(100% - 130px);
  padding: 20px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5);
  scrollbar-track-color: rgba(0, 0, 0, 0.5);
}
body .chat-container .chats .chat-content .chat-details-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
body .chat-container .chats .chat-content .chat-details-container .chat-text {
  width: 70%;
  height: auto;
  min-height: 50px;
  margin-top: 2px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
body .chat-container .chats .chat-content .chat-details-container .chat-text .chat-image {
  width: 25px;
  min-width: 25px;
  height: 25px;
  background: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
body .chat-container .chats .chat-content .chat-details-container .chat-text .chat-text-details {
  max-width: calc(100% - 70px);
  width: auto;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 8px;
  height: auto;
  position: relative;
  margin-top: 8px;
  font-size: 0.9rem;
}
body .chat-container .chats .chat-content .chat-details-container .chat-text .chat-text-details p {
  word-break: break-all;
}
body .chat-container .chats .chat-content .chat-details-container .chat-text .chat-text-details .time {
  font-size: 0.7rem;
  font-style: italic;
}
body .chat-container .chats .chat-content .chat-details-container .chat-text .chat-text-details::after {
  position: absolute;
  content: "";
}
body .chat-container .chats .chat-content .chat-details-container #receiver-text {
  align-self: flex-start;
}
body .chat-container .chats .chat-content .chat-details-container #receiver-text .chat-image {
  margin-right: 15px;
}
body .chat-container .chats .chat-content .chat-details-container #receiver-text .chat-text-details {
  background: #dbab8c;
}
body .chat-container .chats .chat-content .chat-details-container #receiver-text .chat-text-details::after {
  border-left: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  border-right: 20px solid #dbab8c;
  top: 0px;
  left: -18px;
  transform: rotateZ(18deg);
}
body .chat-container .chats .chat-content .chat-details-container #sender-text {
  align-self: flex-end;
  justify-content: flex-end;
}
body .chat-container .chats .chat-content .chat-details-container #sender-text .chat-image {
  margin-left: 15px;
}
body .chat-container .chats .chat-content .chat-details-container #sender-text .chat-text-details {
  background: #349aa2;
}
body .chat-container .chats .chat-content .chat-details-container #sender-text .chat-text-details::after {
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  border-left: 20px solid #349aa2;
  top: 0px;
  right: -18px;
  transform: rotateZ(-18deg);
}
body .chat-container .chats .chat-content::-webkit-scrollbar {
  width: 4px;
}
body .chat-container .chats .chat-content::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}
body .chat-container .chats .chat-content::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}
body .chat-container .chats .chat-content::-webkit-scrollbar-corner {
  border-radius: 5px;
}
body .chat-container .chats .chat-form {
  width: 92%;
  min-height: 65px;
  border-top: 2px solid rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  padding: 10px 0px;
}
body .chat-container .chats .chat-form .form-content {
  width: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.6);
  overflow: hidden;
  padding: 0px 7px;
}
body .chat-container .chats .chat-form .form-content button {
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-size: 1.3rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
body .chat-container .chats .chat-form .form-content .input-box {
  width: calc(100% - 120px);
  min-height: 20px;
  height: auto;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 10px 0px;
  font-size: 0.9rem;
  font-family: poppins;
  color: rgba(0, 0, 0, 0.8);
}
body .chat-container .chats .chat-form .form-content .input-box:empty:before {
  content: attr(data-placeholder);
}
body .chat-container .chats .chat-form .form-content textarea {
  width: calc(100% - 120px);
  min-height: 20px;
  height: auto;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 10px 0px;
  font-size: 0.9rem;
  font-family: poppins;
  color: rgba(0, 0, 0, 0.8);
}
body .chat-container .chats .chat-form .form-content textarea:focus {
  border: none;
}
body .chat-container .contact-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5);
  scrollbar-track-color: rgba(0, 0, 0, 0.5);
}
body .chat-container .contact-profile .profile-image {
  width: 100px;
  height: 100px;
  min-height: 100px;
  background: white;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}
body .chat-container .contact-profile .profile-image .status {
  width: 10px;
  height: 10px;
  background: grey;
  position: absolute;
  border-radius: 50%;
  bottom: 5px;
  right: 15px;
}
body .chat-container .contact-profile .profile-image #online {
  background: green;
}
body .chat-container .contact-profile .profile-image #away {
  background: orange;
}
body .chat-container .contact-profile .profile-number {
  margin-top: 5px;
}
body .chat-container .contact-profile .profile-actions {
  margin-top: 10px;
  display: flex;
}
body .chat-container .contact-profile .profile-actions button {
  font-size: 1.6rem;
  background: transparent;
  border: none;
  cursor: pointer;
}
body .chat-container .contact-profile .profile-actions button:not(:first-child) {
  margin-left: 20px;
}
body .chat-container .contact-profile .profile-media {
  width: 100%;
  height: auto;
  margin-top: 30px;
}
body .chat-container .contact-profile .profile-media h2 {
  font-size: 1.3rem;
}
body .chat-container .contact-profile .profile-media .media-contents {
  width: 100%;
  height: auto;
}
body .chat-container .contact-profile .profile-media .media-contents .media-content-header {
  width: 100%;
  height: 35px;
  margin-top: 10px;
  display: flex;
  border-radius: 50px;
}
body .chat-container .contact-profile .profile-media .media-contents .media-content-header button {
  width: 33.3%;
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.9);
}
body .chat-container .contact-profile .profile-media .media-contents .media-content-header .active {
  background: rgba(0, 0, 0, 0.2);
  font-weight: bold;
}
body .chat-container .contact-profile .profile-media .media-contents .media-content-cards {
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
}
body .chat-container .contact-profile .profile-media .media-contents .media-content-cards .media {
  width: 32%;
  height: 70px;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  margin-right: 1.1%;
  margin-bottom: 3px;
  overflow: hidden;
}
body .chat-container .contact-profile .profile-media .media-contents .media-content-cards .media:hover img {
  transform: scale(1.15);
  transition: 0.5s ease all;
}
body .chat-container .contact-profile .profile-media .media-contents .empty-content {
  width: 100%;
  padding: 20px 10px;
  text-align: center;
  display: none;
}
body .chat-container .contact-profile .profile-media .media-contents .link-contents {
  width: 100%;
  margin-top: 10px;
}
body .chat-container .contact-profile .profile-media .media-contents .link-contents .links {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin-bottom: 4px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
body .chat-container .contact-profile .profile-media .media-contents .link-contents .links .link-image {
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 3px;
  position: relative;
}
body .chat-container .contact-profile .profile-media .media-contents .link-contents .links .link-image img {
  width: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
body .chat-container .contact-profile .profile-media .media-contents .link-contents .links .link-description {
  width: calc(100% - 60px);
  word-wrap: wrap;
}
body .chat-container .contact-profile .profile-media .media-contents .link-contents .links .link-description p {
  word-wrap: wrap;
  word-break: break-all;
}
body .chat-container .contact-profile .profile-media .media-cta {
  display: flex;
  justify-content: flex-end;
  margin-top: 3px;
}
body .chat-container .contact-profile .profile-media .media-cta button {
  cursor: pointer;
  background: transparent;
  color: #021b3b;
  border: none;
}
body .chat-container .contact-names::-webkit-scrollbar {
  width: 4px;
}
body .chat-container .contact-names::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}
body .chat-container .contact-names::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}
body .chat-container .contact-names::-webkit-scrollbar-corner {
  border-radius: 5px;
}
body .chat-container .contact-profile::-webkit-scrollbar {
  width: 4px;
}
body .chat-container .contact-profile::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}
body .chat-container .contact-profile::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}
body .chat-container .contact-profile::-webkit-scrollbar-corner {
  border-radius: 5px;
}/*# sourceMappingURL=chat.css.map */