.hea*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-size: 12px;
}

@font-face {
    font-family: poppins;
    src: url("../fonts/Poppins-Regular.ttf");
  }


body{
    background: url("../images/chat_background.jpg") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: poppins;
    color: white;

    .chat-context-menu{
        position: absolute;
        z-index: 99;
        display: none;
        opacity: 0;
        // padding: 15px;

        .context-menu,
        .context-menu-emoji{
            display: inline-block;
            min-width: 100%;
            background: rgba(255, 255, 255, .7);
            backdrop-filter: blur(10px);
            border-radius: 5px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .1);
            color: black;
            margin-top: 4px;

        }
        
        .context-menu-emoji{
            display: flex;
            align-items: center;
            padding: 5px 10px;

            .emoji-list{
                display: flex;
                margin-right: 6px;
                align-items: center;
                max-height: 25px;


                span{
                    font-size: 1.5rem;
                    // width: 25px;
                    // height: 25px;
                    cursor: pointer;
                    margin-right: 6px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    animation: 0.5s ease forwards;
                }
            }

            .emoji-add-btn{

                button{
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    background: rgba(0, 0, 0, .1);
                    border: none;
                    outline: none;
                }
            }

        }


        .context-menu{
            
            ul{
                list-style: none;

                li{
                    padding: 5px 10px;
                    cursor: pointer;
                    display: flex;
                    opacity: 0;
                    transition: 0.5s ease all;

                    .icon{
                        margin-right: 10px;

                    }
                }

                li:hover{
                    background: rgba(0, 0, 0, .1);
                    transition: 0.5s ease all;
                    padding-left: 10px;

                    .icon{
                        margin-left: 5px;
                        transition: 0.3s ease all;
                    }

                }
            }
        }

    }

    .image{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        overflow: hidden;

        img{
            width: 100%;
            height: auto;
        }
    }

    .media-image{
        width: 100%;
        height: 100%;
        overflow: hidden;

        img{
            width: 100%;
            min-height: 100%;
        }
    }

    .chat-container{
        width: 85%;
        height: 90vh;
        background: rgba(255, 255, 255, .3);
        backdrop-filter: blur(10px);
        border-radius: 8px;
        position: relative;
        display: flex;
        overflow: hidden;

        

        .contact-header{
            width: 100%;
            height: 65px;
            color: white;
            display: flex;
            border-bottom: 2px solid rgba(255, 255, 255, .4);
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            position: sticky;
            top: 0px;
            z-index: 9;

            .header-button{
                width: 35px;
                height: 30px;
                // border: 1px solid green;
                cursor: pointer;
                position: relative;
                overflow: hidden;
                
                

                .btn{
                    width: 80%;
                    height: 18%;
                    // background: rgba(0, 0, 0, .6);
                    background: rgba(255, 255, 255, .9);
                    // background: #349aa2;
                    border-radius: 10px;
                    transition: 0.3s ease all;
                }

                .open-button,
                .close-button{
                    position: absolute;
                    width: 100%;
                    height: 100%;

                }

                .open-button{
                    // border: 1px solid red;
                    display: block;

                    .btn:not(:first-child){
                        margin-top: 15%;
                    }

                    #first-btn,
                    #third-btn{
                        margin-left: 20%;
                    }

                    #third-btn{
                        height: 17%;
                    }
                }

                .close-button{
                    // border: 1px solid red;
                    opacity: 0;

                    .btn{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }

                    

                    #first-btn{
                        top: 100%;
                        left: 0%;
                        transform: translate(-50%, -50%) rotateZ(-45deg);
                    }

                    #second-btn{
                        top: 100%;
                        left: 100%;
                        transform: translate(-50%, -50%) rotateZ(45deg);
                    }


                }

            }

            .header-button:hover{
                
                .btn{
                    background: rgba(0, 0, 0, .8);
                }
            }
        }

        .contact-details{
            padding: 10px 20px;

        }

        .chat-menu{
            width: 25%;
            min-width: 270px;
            max-width: 350px;
            height: 100%;
            top: 65px;
            left: -350px;
            position: absolute;
            z-index: 99;
            background: rgba(0, 0, 0, .6);
            color: white;
            transition: 1s ease all;

            ul{
                list-style: none;
                // padding: 18px;

                li{
                    button{
                        background: transparent;
                        border: none;
                        font-size: 1.15rem;
                        color: white;
                        display: flex;
                        align-items: center;
                        padding: 20px;
                        width: 100%;
                        cursor: pointer;

                        .icon{
                            margin-right: 10px;
                            font-size: 1.5rem;
                        }
                    }

                    button:hover{
                        background: rgba(0, 0, 0, .1);
                        padding-left: 25px;
                        transition: 0.5s ease all;
                    }
                }
            }
        }

        .contact-header-info{
            height: 60px;
            background: rgba(0, 0, 0, .2);
            display: flex;
            align-items: center;
            font-size: 1.1rem;
            color: rgba(0, 0, 0, .6);
            color: rgba(255, 255, 255, .9);
            font-weight: bold;
            // display: none;

            .icon{
                margin-right: 10px;
                font-size: 1.3rem;
            }

            .text{
                text-transform: uppercase;
            }
        }

        .contact-name-header-info{
            opacity: 1;
            position: sticky;
            top: 65px;
            z-index: 9;
            backface-visibility: hidden;
            transition: 1s ease all;
        }

        .contact-chats{
            width: 100%;
            height: calc(100% - 125px);
            // background: red;
            opacity: 1;
            transition: 1s ease all;

            .empty-chat{
                padding: 20px;
                height: 100%;
                display: none;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .empty-chat-icon{
                    width: 60px;
                    height: 50px;
                    // border: 2px solid rgba(0, 0, 0, .6);
                    border-radius: 5px;
                    position: relative;
                    margin-bottom: 30px;
                    background: rgba(0, 0, 0, 1);
                }

                .empty-chat-icon::before{
                    position: absolute;
                    content: "";
                    top: 76%;
                    left: -21%;
                    border-left: 8px solid transparent; 
                    border-right: 8px solid transparent; 
                    border-bottom: 15px solid transparent; 
                    border-top: 15px solid rgba(0, 0, 0, 1); 
                    transform: rotateZ(45deg);
                }

                .empty-chat-icon::after{
                    position: absolute;
                    content: "";
                    width: 160%;
                    height: 2px;
                    // background: rgba(0, 0, 0, .6);
                    background: white;
                    top: -19%;
                    left: 70%;
                    transform: translate(-50%, -50%) rotateZ(43deg) scaleX(0);
                    animation: animate 2s ease infinite;
                    transform-origin: left;

                }

                



                p{
                    text-align: center;
                    color: rgba(0, 0, 0, .7);
                }
            }

            .contacts-content{
                width: 100%;

                .contacts{
                    width: 100%;
                    height: 70px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 2px solid rgba(255, 255, 255, .7);
                    padding: 10px 5px 10px 20px;
                    color: rgba(0, 0, 0, .7);
                    position: relative;
                    cursor: pointer;

                    .contact-image{
                        width: 35px;
                        min-width: 35px;
                        height: 35px;
                        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .1);
                        border-radius: 50%;
                        background: white;
                        position: relative;
                        

                        .status{
                            width: 7px;
                            height: 7px;
                            background: rgba(0, 0, 0, .6);
                            position: absolute;
                            right: 0px;
                            bottom: 3px;
                            display: block;
                            border-radius: 50%;
                        }

                        #online{
                            background: green;
                        }

                        #offline{
                            background: grey;
                        }

                        #away{
                            background: orange;
                        }
                    }

                    .contact-details{

                        .details-header{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .time{
                                font-style: italic;
                                font-size: 0.8rem;
                            }
                        }

                        h3{
                            font-size: 1.2rem;
                            font-weight: bold;
                        }

                        p{
                            font-size: 0.8rem;
                            // text-align: justify;
                        }
                    }

                    .counter{
                        width: 15px;
                        height: 15px;
                        background: green;
                        // display: block;
                        position: absolute;
                        right: 20px;
                        bottom: 10px;
                        color: white;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 0.9rem;
                    }

                    
                }

                .active-chat{
                    background: rgba(0, 0, 0, .15);
                }
            }
        }

        


        .contact-names,
        .contact-profile{
            width: 25%;
            height: 100%;
            background: rgba(0, 0, 0, .1);
            overflow-y: scroll;
            scrollbar-width: thin;
            scrollbar-color: rgba(0, 0, 0, .5);
            scrollbar-track-color: rgba(0, 0, 0, .5);
        }

        // .contact-names{
        //     border-right: 1px solid rgba(0, 0, 0, .2);
        // }

        // .contact-profile{
        //     border-left: 1px solid rgba(0, 0, 0, .2);
        // }

        .chats{
            width: 50%;
            height: 100%;
            // padding: 0px 20px;
            position: relative;

            .image-show-case{
                width: 100%;
                height: 100%;
                position: absolute;
                background: rgba(0, 0, 0, .5);
                z-index: 999;
                color: white;
                opacity: 0;
                display: none;
                transition: 1s ease all;

                .image-show-case-header{
                    width: 100%;
                    height: auto;
                    display: flex;
                    padding: 20px;
                    justify-content: space-between;
                    align-items: center;
                    height: 30px;
                    // border: 1px solid red;

                    h1{
                        font-size: 1.15rem;

                    }

                    button{
                        color: white;
                        background: transparent;
                        border: none;
                        font-size: 1.7rem;

                    }
                }

                .image-show-case-content{
                    width: 100%;
                    height: calc(100% - 90px);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // background: black;
                    border-top: 2px solid rgba(255, 255, 255, .3);
                    border-bottom: 2px solid rgba(255, 255, 255, .3);
                    position: relative;
                    

                    .loader{
                        font-size: 1.7rem;
                    }

                    img{
                        max-width: 100%;
                        max-height: 100%;
                        opacity: 0;
                    }

                    .image-change-button{
                        font-size: 3.5rem;
                        position: absolute;
                        top: 50%;
                        background: transparent;
                        border: none;
                        color: white;
                        transform: translateY(-50%);

                    }

                    #prev-image-btn{
                        left: 15px;
                    }

                    #next-image-btn{
                        right: 15px;
                    }
                }

                .image-show-case-footer{
                    // display: flex;
                    // align-items: center;
                    // justify-content: flex-start;
                    height: 90px;
                    padding: 20px;


                    p{
                        font-weight: bold;
                        .present-count{
                            color: rgba(255, 255, 255, .7);
                        }
                    }
                }
            }

            .contact-header{
                width: 92%;
                margin-inline: auto;
                transition: 1s ease all;

                .chat-header-details{
                    display: flex;
                    align-items: center;
                    color: rgba(0, 0, 0, .7);

                    .chat-header-image{
                        position: relative;
                        // border: 1px solid red;
                        width: 65px;
                        height: 48px;
                        margin-right: 5px;

                        .image{
                            width: 40px;
                            height: 40px;
                            background: white;
                            position: absolute;
                            border-radius: 50%;
                            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .1);
                        }

                        #sender-image{
                            left: 0px;
                            top: 0px;
                        }

                        #receiver-image{
                            bottom: 0px;
                            right: 0px;
                        }

                    }

                    .chat-header-name{

                        h3{
                            font-weight: bold;

                        }

                        p{
                            font-size: 0.85rem;
                            margin: 0px;
                            display: flex;
                            align-items: center;

                            span{
                                display: block;

                            }


                            .status{
                                margin-right: 3px;
                                width: 6px;
                                height: 6px;
                                background: grey;
                                border-radius: 50%;

                            }

                            #online{
                                background: green;
                            }

                            #away{
                                background: orange;
                            }
                        }
                    }
                }

                .chat-header-icon{

                    ul{
                        display: flex;
                        list-style: none;

                        li{
                            button{
                                font-size: 1.5rem;
                                border: none;
                                background: transparent;
                                color: black;
                                cursor: pointer;
                            }
                        }

                        li:not(:first-child){
                            margin-left: 15px;
                        }
                    }
                }
            }

            .chat-content{
                width: 100%;
                height: calc(100% - 130px);
                overflow-y: scroll;
                scrollbar-width: thin;
                scrollbar-color: rgba(0, 0, 0, .5);
                scrollbar-track-color: rgba(0, 0, 0, .5);
                // background: red;
                transition: 1s ease all;

                .chat-details-container{
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    position: relative;


                    

                    .chat-element{
                        margin-top: 2px;
                        width: 100%;
                        // border: 1px solid red;
                        // background:rgba(0, 0, 0, .1);
                        display: flex;
                        flex-direction: column;
                        padding: 0px 20px;

                    }

                    .chat-text{
                        width: 70%;
                        height: auto;
                        min-height: 50px;
                        display: flex;
                        align-items: flex-start;
                        justify-content: flex-start;
                        cursor: default;
                        // justify-content: space-between;
    
                        .chat-image{
                            width: 25px;
                            min-width: 25px;
                            height: 25px;
                            background: white;
                            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .1);
                            border-radius: 50%;
                        }
    
                        .chat-text-details{
                            max-width: calc(100% - 70px);
                            width: auto;
                            background: rgba(0, 0, 0, .2);
                            border-radius: 6px;
                            padding: 8px;
                            height: auto;
                            position: relative;
                            margin-top: 8px;
                            font-size: 0.9rem;

                            p{
                                // text-align: justify;
                                word-break: break-all;
                            }
    
                            .time{
                                font-size: 0.7rem;
                                font-style: italic;
                            }
    
    
                        }
    
                        .chat-text-details::after{
                            position: absolute;
                            content: "";
                            
    
                        }
                    }
    
                    #receiver-text{
                        align-self: flex-start;
    
                        .chat-image{
                            margin-right: 15px;
                        }
    
                        .chat-text-details{
                            background: #dbab8c;
                        }
    
                        .chat-text-details::after{
    
                            border-left: 5px solid transparent;
                            border-bottom: 5px solid transparent;
                            border-top: 5px solid transparent;
                            border-right: 20px solid #dbab8c;
                            top: 0px;
                            left: -18px;
                            transform: rotateZ(18deg);
    
                        }
                    }
    
                    #sender-text{
                        align-self: flex-end;
                        justify-content: flex-end;
    
                        .chat-image{
                            margin-left: 15px;
                        }
    
                        .chat-text-details{
                            background: #349aa2 ;
                        }
    
                        .chat-text-details::after{
    
                            border-right: 5px solid transparent;
                            border-bottom: 5px solid transparent;
                            border-top: 5px solid transparent;
                            border-left: 20px solid #349aa2;
                            top: 0px;
                            right: -18px;
                            transform: rotateZ(-18deg);
    
                        }
                    }
                }

                

            }

            .chat-content::-webkit-scrollbar{
            width: 4px;
            
            }

            .chat-content::-webkit-scrollbar-track{
                background: rgba(0, 0, 0, .2);
            }

            .chat-content::-webkit-scrollbar-thumb{
                background: rgba(0, 0, 0, .5);
            }

            .chat-content::-webkit-scrollbar-corner{
                border-radius: 5px;
            }

            .chat-emojis{
                width: 100%;
                height: 250px;
                background: rgba(255, 255, 255, .7);
                backdrop-filter: blur(15px);
                position: absolute;
                left: 0px;
                bottom: 65px;
                padding: 20px;
                scrollbar-width: thin;
                scrollbar-color: rgba(0, 0, 0, .5);
                scrollbar-track-color: rgba(0, 0, 0, .5);
                display: none;
                opacity: 0;
                transition: 0.5s ease all;

                .emoji-search{
                    width: 100%;
                    height: 40px;

                    input{
                        height: 100%;
                        width: 100%;
                        border: 1px solid rgba(0, 0, 0, .3);
                        border-radius: 50px;
                        padding: 0px 10px;
                        outline: none;

                    }

                    input:focus{
                        border-width: 2px;
                        border-color: black;
                    }
                }

                .emoji-contents{
                    width: 100%;
                    height: calc(100% - 40px);
                    padding: 0px 5px;
                    margin: 10px 0px;
                    color: #d49e09;
                    overflow-y: scroll;

                    .emojis{

                        .emoji-category{
                            font-size: 1rem;
                            color: black;

                        }
                        
                        .emoji-container{
                            width: 100%;
                            height: auto;
                            display: flex;
                            flex-wrap: wrap;
                        }
                    }

                    span{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 40px;
                        height: 40px;
                        font-size: 1.6rem;
                        cursor: pointer;
                        // background: red;

                    }
                }

                .emoji-contents::-webkit-scrollbar{
                    width: 4px;
                    
                }
        
                .emoji-contents::-webkit-scrollbar-track{
                    background: rgba(0, 0, 0, .2);
                }
        
                .emoji-contents::-webkit-scrollbar-thumb{
                    background: rgba(0, 0, 0, .5);
                }
        
                .emoji-contents::-webkit-scrollbar-corner{
                    border-radius: 5px;
                }

            }

            .chat-form{
                width: 92%;
                min-height: 65px;
                border-top: 2px solid rgba(255, 255, 255, .4);
                display: flex;
                align-items: center;
                position: absolute;
                left: 50%;
                bottom: 0px;
                transform: translateX(-50%);
                padding: 10px 0px;
                transition: 1s ease all;
                // border-bottom: 2px solid rgba(255, 255, 255, .4);
                // background: rgba(0, 0, 0, .2);
                

                .form-content{
                    width: 100%;
                    min-height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 30px;
                    background: rgba(255, 255, 255, .6);
                    overflow: hidden;
                    padding: 0px 7px;

                    button{
                        width: 30px;
                        height: 30px;
                        background: rgba(0, 0, 0, .1);
                        font-weight: bold;
                        font-size: 1.3rem;
                        border: none;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        // border: 1px solid red;
                    }

                    .input-box{

                        width: calc(100% - 120px);
                        min-height: 20px;
                        height: auto;
                        border: none;
                        background-color: transparent;
                        outline: none;
                        padding: 10px 0px;
                        font-size: 0.9rem;
                        font-family: poppins;
                        color: rgba(0, 0, 0, .8);

                    }


                    .input-box:empty:before {
                        content: attr(data-placeholder);
                    }

                    textarea{
                        width: calc(100% - 120px);
                        min-height: 20px;
                        height: auto;
                        border: none;
                        background-color: transparent;
                        outline: none;
                        padding: 10px 0px;
                        font-size: 0.9rem;
                        font-family: poppins;
                        color: rgba(0, 0, 0, .8);
                    }

                    textarea:focus{
                        border: none;
                    }

                    .default-chat-content{
                        display: block;
                    }

                    .other-chat-content{
                        display: none;
                        animation: 0.5s ease forwards;
                        margin-top: 10px;
                        opacity: 0;
                        transition: 1.5s ease all;
                        
                    }

                    // .other-chat-content{

                    // }

                    .add-item{
                        position: relative;
                        transition: 0.5s ease all;

                        .icon{
                            display: block;
                            width: 45%;
                            height: 2px;
                            background: black;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }

                        #second-icon{
                            transform: translate(-50%, -50%) rotateZ(90deg);
                        }
                    }

                    



                }
            }
        }

        .contact-profile{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding: 20px;
            overflow-y: scroll;
            scrollbar-width: thin;
            scrollbar-color: rgba(0, 0, 0, .5);
            scrollbar-track-color: rgba(0, 0, 0, .5);

            .profile-image{
                width: 100px;
                height: 100px;
                min-height: 100px;
                background: white;
                border-radius: 50%;
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .1);
                position: relative;

                .status{
                    width: 10px;
                    height: 10px;
                    background: grey;
                    position: absolute;
                    border-radius: 50%;
                    bottom: 5px;
                    right: 15px;
                }

                #online{
                    background: green;
                }

                #away{
                    background: orange;
                }
            }

            .profile-number{
                margin-top: 5px;
            }

            .profile-actions{
                margin-top: 10px;
                display: flex;

                button{
                    font-size: 1.6rem;
                    background: transparent;
                    border: none;
                    cursor: pointer;
                }

                button:not(:first-child){
                    margin-left: 20px;
                }
            }

            .profile-media{
                width: 100%;
                height: auto;
                margin-top: 30px;

                h2{
                    font-size: 1.3rem;
                }

                .media-contents{
                    width: 100%;
                    height: auto;

                    .media-content-header{
                        width: 100%;
                        height: 35px;
                        margin-top: 10px;
                        // border-top: 2px solid rgba(255, 255, 255, .3);
                        // border: 2px solid rgba(255, 255, 255, .3);
                        display: flex;
                        border-radius: 50px;

                        button{
                            width: 33.3%;
                            background: transparent;
                            border: none;
                            cursor: pointer;
                            border-radius: 20px;
                            color: rgba(255, 255, 255, .9);

                        }

                        .active{
                            background: rgba(0, 0, 0, .2);
                            font-weight: bold;
                        }
                    }

                    .media-content-cards{
                        display: flex;
                        margin-top: 10px;
                        flex-wrap: wrap;

                        .media{
                            width: 32%;
                            height: 70px;
                            background: white;
                            border-radius: 5px;
                            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .1);
                            margin-right: 1.1%;
                            margin-bottom: 3px;
                            overflow: hidden;
                            cursor: pointer;
                            
                            img{
                                filter: blur(2px);
                            }
                        }
                        
                        .media:hover{

                            img{
                                transform: scale(1.15);
                                transition: 0.5s ease all;
                                filter: none;
                            }
                        }
                    }

                    .empty-content{
                        width: 100%;
                        padding: 20px 10px;
                        text-align: center;
                        display: none;

                    }

                    .link-contents{
                        width: 100%;
                        margin-top: 10px;

                        .links{
                            width: 100%;
                            height: 50px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            overflow: hidden;
                            margin-bottom: 4px;
                            // background: rgba(255, 255, 255, .3);
                            background: rgba(0, 0, 0, .2);
                            border-radius: 3px;

                            .link-image{
                                width: 50px;
                                height: 50px;
                                background: white;
                                border-radius: 3px;
                                position: relative;

                                img{
                                    width: 70%;
                                    position: absolute;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%, -50%);

                                }
                            }

                            .link-description{
                                width: calc(100% - 60px);
                                word-wrap: wrap;

                                p{
                                    word-wrap: wrap;
                                    word-break: break-all;
                                }
                            }
                        }
                    }
                }

                .media-cta{
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 3px;

                    button{
                        cursor: pointer;
                        background: transparent;
                        color: #021b3b;
                        border: none;
                    }
                }
            }
        }

        .contact-names::-webkit-scrollbar{
            width: 4px;
            
        }

        .contact-names::-webkit-scrollbar-track{
            background: rgba(0, 0, 0, .2);
        }

        .contact-names::-webkit-scrollbar-thumb{
            background: rgba(0, 0, 0, .5);
        }

        .contact-names::-webkit-scrollbar-corner{
            border-radius: 5px;
        }

        .contact-profile::-webkit-scrollbar{
            width: 4px;
            
        }

        .contact-profile::-webkit-scrollbar-track{
            background: rgba(0, 0, 0, .2);
        }

        .contact-profile::-webkit-scrollbar-thumb{
            background: rgba(0, 0, 0, .5);
        }

        .contact-profile::-webkit-scrollbar-corner{
            border-radius: 5px;
        }
    }

    @keyframes pushAnimate{
        0%{
            margin-top: 10px;
        }

        50%{
            margin-top: -10px;
        }

        100%{
            margin-top: 0px;
        }
    }

    @keyframes animate {
        0%{
            
            transform: translate(-50%, -100%) rotateZ(43deg) scaleX(0);
        }

        100%{
            
            transform: translate(-50%, -50%) rotateZ(43deg) scaleX(1);
        }
        
    }

}