* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../images/index_background.jpg") no-repeat;
  background-size: cover;
}
body a {
  text-decoration: none;
  color: #3690ff;
}
body .login-container {
  min-width: 200px;
  width: 50%;
  max-width: 600px;
  min-height: 300px;
  display: flex;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.3);
  overflow: hidden;
}
body .login-container .login-image {
  width: 30%;
  min-width: 250px;
  background: url("../images/login_background.jpg") no-repeat;
  background-size: cover;
  position: relative;
}
body .login-container .login-image .image-overlay {
  width: 100%;
  height: 100%;
  background: rgba(215, 184, 182, 0.1);
}
body .login-container .login-form {
  padding: 40px 20px;
  color: black;
  width: 70%;
}
body .login-container .login-form .login-form-container .form-header {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  text-transform: uppercase;
}
body .login-container .login-form .login-form-container .form-content {
  margin-top: 15px;
}
body .login-container .login-form .login-form-container .form-content input:not([type=checkbox]),
body .login-container .login-form .login-form-container .form-content label,
body .login-container .login-form .login-form-container .form-content button {
  width: 100%;
  display: block;
}
body .login-container .login-form .login-form-container .form-content label {
  color: rgba(0, 0, 0, 0.6);
  padding: 5px;
}
body .login-container .login-form .login-form-container .form-content input {
  outline: none;
  height: 35px;
  border: none;
  border-radius: 30px;
  padding: 0px 10px;
  margin-top: 5px;
}
body .login-container .login-form .login-form-container .form-content button {
  height: 38px;
  border-radius: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}
body .login-container .login-form .login-form-container .form-content button:disabled {
  background: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.4);
}
body .login-container .login-form .login-form-container .form-content a {
  font-size: 0.9rem;
  position: relative;
}
body .login-container .login-form .login-form-container .form-content a:after {
  position: absolute;
  width: 0%;
  height: 2px;
  background: #3690ff;
  content: "";
  left: 0px;
  bottom: -3px;
}
body .login-container .login-form .login-form-container .form-content a:hover:after {
  width: 100%;
  transition: 0.5s ease all;
}
body .login-container .login-form .login-form-container .form-content p {
  font-size: 0.9rem;
}
body .login-container .login-form .login-form-container .flex {
  display: flex;
  align-items: center;
}
body .login-container .login-form .login-form-container .right {
  justify-content: flex-end;
}
body .login-container .login-form .login-form-container .center {
  justify-content: center;
}
body .login-container .login-form .login-form-container .inline {
  display: flex;
  align-items: center;
}
body .login-container .login-form .login-form-container .inline input,
body .login-container .login-form .login-form-container .inline label {
  display: inline;
  margin-top: 0px;
  width: auto;
}
body .login-container .login-form .login-form-container .inline label {
  font-size: 0.9rem;
  margin-left: 3px;
}
body .signup-container .login-image {
  background: url("../images/signup_background.jpg") no-repeat;
  background-size: cover;
}
@media only screen and (max-width: 1100px) {
  body .login-container {
    width: 60%;
    max-width: 700px;
  }
}
@media only screen and (max-width: 900px) {
  body .login-container {
    width: 70%;
    max-width: 700px;
  }
}
@media only screen and (max-width: 800px) {
  body .login-container {
    width: 80%;
    max-width: 700px;
  }
}
@media only screen and (max-width: 700px) {
  body .login-container {
    width: 90%;
    max-width: 700px;
  }
}
@media only screen and (max-width: 600px) {
  body .login-container {
    width: 80%;
    max-width: 700px;
  }
  body .login-container .login-image {
    display: none;
  }
  body .login-container .login-form {
    width: 100%;
  }
}/*# sourceMappingURL=index.css.map */